<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/home.css">
    <title>Adapt</title>
</head>
<body>
    <header>
        <img  class="logo" src="../images/logo.png" alt="Adapt Logo">
        
        <nav>
            <ul class="nav_links">
                <li><a href="Home">Home</a></li>
                <li><a href="About">About Adapt</a></li>
                <li><a href="Resources">Resources</a></li>
                <li><a href="Contact">Contact Us</a></li>
            </ul>
        </nav>
        
        <div class="cta">
            <a href="Login"><button class="button">Log In</button></a>
            <a href="Singup"><button class="button button2">Sign Up</button></a>
        </div>
        
        <div class="social_media_links">
            <a href="#"><img src="../images/globe.png" alt="Globe"></a>
            <a href="#"><img src="../images/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../images/linkedin.png" alt="Linkedin"></a>
        </div>
    </header>
</body>
</html>