<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/home.css">
    <title>Adapt</title>
</head>
<body>
    <header>
        <img  class="logo" src="../images/logo.png" alt="Adapt Logo">
        
        <nav>
            <ul class="nav_links">
                <li><a href="Home">Home</a></li>
                <li><a href="About">About Adapt</a></li>
                <li><a href="Resources">Resources</a></li>
                <li><a href="Contact">Contact Us</a></li>
            </ul>
        </nav>
        
        <div class="cta">
            <a href="Login"><button class="button1">Log In</button></a>
            <a href="Singup"><button class="button1 signup_button">Sign Up</button></a>
        </div>
        
        <div class="social_media_links">
            <a href="#"><img src="../images/globe.png" alt="Globe"></a>
            <a href="#"><img src="../images/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../images/linkedin.png" alt="Linkedin"></a>
        </div>
    </header>

    <!-- <div class="intro"> -->

    <section class="intro">
        <h1>The First Green Technology <br>
            Marketplace for African Innovation <br>
            With Intellectual Property.
        </h1>
        <p>
            We are the best platform to help innovators get in touch with investors and  <br>
            Manufacturing industries. With the right certificates of Intellectual Property, <br> 
            Trademarks and other resources we match your green solutions with the right <br>
            Partners and collaborators. 
        </p>
    
        <div class="cta">
            <a href="Singup"><button class="button2">Register Now</button></a>
            <a href="Contact"><button class="button2 contact_button">Contact Us</button></a>
        </div>
    </section>

    <section class="services">
        <div class="services_intro">
            <h1>The first Green Technology <br> Marketplace.</h1>

            <p>We are the best platform to help innovators get in touch with investors <br>
                and Manufacturing industries. With the right certificates of Intellectual <br>
                Property, Trademarks and other resources we match your green <br>
                solutions with the right Partners and collaborators. 
            </p>

            <button class="button2">Read More</button>
        </div>

        <div class="services_list">
            <div class="service service1">
                <img src="../images/innovation.png" alt="Innovation">
                <h1>Innovation Showcase</h1>
                <p>We are the best platform to help <br>
                   innovators get in touch with investors <br>
                   and Manufacturing industries. 
                </p>
            </div>

            <div class="service service2">
                <img src="../images/matching.png" alt="Innovation">
                <h1>Innovator Matching</h1>
                <p>We are the best platform to help <br>
                   innovators get in touch with investors <br>
                   and Manufacturing industries. 
                </p>
            </div>

            <div class="service service3">
                <img src="../images/certification.png" alt="Innovation">
                <h1>Certification Help</h1>
                <p>We are the best platform to help <br>
                   innovators get in touch with investors <br>
                   and Manufacturing industries. 
                </p>
            </div>
        </div>
    </section>
</body>
</html>